<div class="micro-nav">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% if nav.index.content and nav.index.url %}
				<a href="{{ site.baseurl }}{{nav.index.url}}" class="micro-nav__back">
					<i class="icon icon--arrow-left"></i>
					{{nav.index.content}}
				</a><!-- /.micro-nav__back -->				
				{% else %}
				  {% if nav.index.url %}
				    <a href="{{nav.index.url}}" class="micro-nav__back">
				  {% else %}
				    <a href="/" class="micro-nav__back">
				  {% endif %}
					<i class="icon icon--arrow-left"></i>
					Back to homepage
				</a><!-- /.micro-nav__back -->
				{% endif %}
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.micro-nav -->
