{% if doks.footer.content.logo.image or doks.footer.content.logo.text or doks.footer.content.copyright or doks.footer.social_list %}
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					{% if doks.footer.content.logo.text %}
						<a href="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/" class="site-footer__logo">{{ doks.footer.content.logo.text }}</a>
					{% elif doks.footer.content.logo.image %}
						<a href="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/" class="site-footer__logo">
							<img src="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/assets/images/layout/logo-footer.png">
						</a><!-- /.site-footer__logo -->
					{% endif %}
					{% if doks.footer.content.copyright %}
						<hr>
						<p class="site-footer__copyright">{{copyright}}</p>
					{% endif %}
				</div><!-- /.col -->
				{% if doks.footer.social_list %}
					<div class="col-sm-6 align-right">
						<ul class="social-list">
							{% for item in doks.footer.social_list %}
								<li>
									<a href="{{ item.profile_url }}" target="_blank" class="social-list__item social-list__item--{{ item.network_name }}">
										<i class="icon icon--{{ item.network_name }}"></i>
									</a>
								</li>
							{% endfor %}
						</ul><!-- /.social-list -->
					</div><!-- /.col -->
				{% endif %}
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.site-footer -->
{% endif %}

<script src="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/assets/js/vendor/bootstrap/affix.min.js"></script>
<script type="text/javascript" src="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/assets/js/vendor/bootstrap/scrollspy.min.js"></script>
<script type="text/javascript" src="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/assets/js/vendor/matchHeight.min.js"></script>
<script type="text/javascript" src="{% if environment == 'production' %}{{ site.baseurl}}{% endif %}/assets/js/scripts.min.js"></script>

<!-- {% include 'partials/google-analytics.njk' %} -->
