{% if doks.footer.content.logo.image or doks.footer.content.logo.text or copyright or doks.footer.social_list %}
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					{% if doks.footer.content.logo.text %}
						<a href="{{ site.baseurl}}/" class="site-footer__logo">{{ doks.footer.content.logo.text }}</a>
					{% elif doks.footer.content.logo.image %}
						<a href="{{ site.baseurl}}/" class="site-footer__logo">
							<img src="{{ site.baseurl}}/assets/images/layout/logo-footer.png" imagick="webp png 800@2">
						</a><!-- /.site-footer__logo -->
					{% endif %}
					{% if copyright %}
						<hr>
						<p class="site-footer__copyright">{{copyright}}</p>
					{% endif %}
				</div><!-- /.col -->
				{% if doks.footer.social_list %}
					<div class="col-sm-6 align-right">
						<ul class="social-list">
							{% for item in doks.footer.social_list %}
								<li>
									<a href="{{ item.profile_url }}" target="_blank" class="social-list__item social-list__item--{{ item.network_name }}">
										<i class="icon icon--{{ item.network_name }}"></i>
									</a>
								</li>
							{% endfor %}
						</ul><!-- /.social-list -->
					</div><!-- /.col -->
				{% endif %}
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.site-footer -->
{% endif %}

<script src="{{ site.baseurl}}/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/assets/js/vendor/bootstrap/affix.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/assets/js/vendor/bootstrap/scrollspy.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/assets/js/vendor/matchHeight.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl}}/assets/js/scripts.js"></script>

<!-- {% include 'partials/google-analytics.njk' %} -->
