{% if doks.header.nav %}
	<div class="offcanvas visible-xs">
		<ul class="offcanvas__nav">
			{% for item in doks.header.nav %}
				<li><a href="{{ site.baseurl}}{{ item.item_url }}">{{ item.item_name }}</a></li>
			{% endfor %}
			{% if alternates.length > 1 %}
			  {% for alt in alternates %}
				<li><a href="{{ alt.url }}" {% if alt.lang == lang %}aria-current="page"{% endif %}>{{ alt.lang }}</a></li>
			  {% endfor %}
			{% endif %}
		</ul><!-- /.offcanvas__nav -->
	</div><!-- /.offcanvas -->
{% endif %}
{% if doks.header.logo.text or doks.header.logo.image or doks.header.nav %}
	<header class="site-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					{% if doks.header.logo.text %}
						<a href="{{ site.baseurl}}/" class="site-header__logo">{{ doks.header.logo.text }}</a>
					{% elif doks.header.logo.image %}
						<a href="{{ site.baseurl}}/" class="site-header__logo">
							<img src="{{ site.baseurl}}/assets/images/{{doks.header.logo.image}}" imagick="webp png 800@2">
						</a><!-- /.site-header__logo -->
					{% endif %}
					{% if doks.header.nav %}
						<ul class="site-header__nav hidden-xs">
							{% for item in doks.header.nav %}
								<li><a href="{{ site.baseurl}}{{ item.item_url }}">{{ item.item_name }}</a></li>
							{% endfor %}
							{% if alternates.length > 1 %}
							<li>
								<ul>
								{% for alt in alternates %}
								  <li class="language">
									<a href="{{ alt.url }}" {% if alt.lang == lang %}aria-current="page"{% endif %}>
									  {{ alt.lang }}
									</a>
									{% if not loop.last %} | {% endif %}
								  </li>
								{% endfor %}
								</ul>
							</li>
							{% endif %}
						</ul><!-- /.site-header__nav -->
						<button class="offcanvas-toggle visible-xs">
							<span></span>
							<span></span>
							<span></span>
						</button><!-- /.offcanvas-toggle -->
					{% endif %}
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</header><!-- /.site-header -->
{% endif %}
